params {
    config = "config/example_config.yaml"
    outdir = "results"
}

profiles {
    standard {
        process.executor = 'local'
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = { params.slurm_partition ?: 'day' }
        process.memory = { params.slurm_mem ?: '16 GB' }
        process.cpus = { params.slurm_cpus_per_task ?: 4 }
        process.time = { params.slurm_time ?: '24:00:00' }
        // Driver process for Spark or DuckDB always needs 1 node
        process.clusterOptions = { "--account=${params.account ?: 'borzekowski'} --nodes=1" }
    }

    kubernetes {
        process.executor = 'k8s'
        k8s.namespace = 'fairway-ns'
        k8s.serviceAccount = 'fairway-sa'
        k8s.storageClaimName = 'fairway-pvc'
        k8s.storageMountPath = '/data'
    }

    google_batch {
        process.executor = 'google-batch'
        google.region = 'us-central1'
        google.project = 'my-project-id'
        fusion.enabled = true
        wave.enabled = true
    }

    docker {
        docker.enabled = true
        docker.autoMounts = true
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.runOptions = '--bind /vast'
    }
}
